.container {
    height: 100%;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 20px;
}
.input-area {
    background-color: #ededed;
    padding: 4px 4px 4px 10px;
}

.input {
    padding: 0px 4px;
    border-radius: 4px;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 2rem;
}

.submit-btn {
    width: 28px;
    height: 28px;
    padding: 5px;
    border: none;
    border-radius: 4px;
    margin-left: 18px;
    background-color: #212121;
    color: #ededed;
    cursor: pointer;

    &:hover {
        background-color: orangered;
    }
}
.text {
    color: var(--text-color);
}

.text {
    font-size: 2rem;
    color: var(--text-color);
    margin: 10px 10px 10px 10px;
}

.media-container {
    display: flex;
    align-items: center;
    margin: 8px 18px 0 0;
}

.media-icon {
    padding: 0 8px;
    cursor: pointer;
}

.face-icon {
    color: #3b5998;
}

.insta-icon {
    color: #c32aa3;
}
