@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Passions+Conflict&family=Poppins:wght@200;300;400;500;600;700&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.container {
    height: 54px;
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 1000;
    border-bottom: 1px solid #ccc;

}

.items {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    font-size: 2rem;
}
.search {
    width: 480px;
    height: 38px;
    border-radius: 92px;
    padding: 0 42px;
    position: relative;
    background-color: rgba(22, 24, 35, 0.06);
    display: flex;
    align-items: center;

    input {
        width: 100%;
        height: 100%;
        font-size: 2rem;
        background-color: transparent;
        border: none;
        outline: none;
        text-align: center;
    }
}

.clear {
    position: absolute;
    right: 1px;
    width: 52px;
    height: 100%;
    background-color: transparent;
    border: none;
    color: gray;
    cursor: pointer;

    &:hover { 
        color: black;
    }
}

.search-btn {
    position: absolute;
    left: 1px;
    width: 52px;
    height: 100%;
    background-color: transparent;
    border: none;
    color: gray;
    cursor: pointer;

    &:hover { 
        color: black;
    }
}


.icon {
    padding: 8px;
    cursor: pointer;

    &:hover {
        color: white;
    }
}

.tippy-container {
    width: 260px;
    height: auto;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.no-orders { 
    padding: 10px;
}

//ordered-items-display
.cart-with-orders{
    width: 100%;

}

.ordered-items {
    transform: translateY(10px);
    margin-left: 14px;
}


.order-items-display {
  
}

.ordered-items-container {
    font-size: 1rem;
    display: flex;
    align-items: center;
    margin: 18px 8px;
    border-top: 1px solid #ccc;
    padding-top: 12px;
}

.item-info-container { 
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    color: black;

}

.image  { 
    width: 50%;
    margin: 0 10px;
}

.price { 
    margin-top: 8px;
    font-size: 1.4rem;
}

.trash-btn {
    border: none;
    background-color: transparent;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px 0;
    color:  red;
    cursor: pointer;

    &:hover {
        color: #ccc;
    }
}

.cart-title-container { 
    border-top: 1px solid #ccc;
    margin: 0 14px;
    display: flex;
    align-items: center;  
    justify-content: end;
    text-decoration: none;
}

.cart-title {
    padding: 8px ;
    color: red;
    text-decoration: none;
}

.sign-in-btn {
    color: red;
}

.quantity-container { 
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input { 
    width: 32px;
    height: 100%;
    text-align: center;
    border: none;
    background-color: transparent;
}

.count-btn {
    background-color: transparent;
    border: none;
    height: 100%;
}

.icon {
    &:hover {
        color: orangered;
    }
}

.total { 
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 4px;
}
