.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    min-height: 240px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    width: 100%;
}

.footer {
    width: 100%;
}
