.container {
    margin-bottom: 28px;
}

.swiper {
    width: 1000px;
    height: auto;
    background-color: var(--background-color);
}

.swiper-button-next {
    background-color: black;
}

.balo-image {
    width: 1000px;
    height: 800px;
    object-fit: fill;
}
