.container {
}

.swiper {
    width: 600px;
    height: auto;
    background-color: var(--background-color);
}

.swiper-button-next {
    background-color: black;
}

.balo-image {
    width: 600px;
    height: auto;
    object-fit: cover;
}
