.container {
    width: 600px;
    min-height: 600px;
    margin-bottom: 28px;
    padding: 14px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255);
}

.swiper-container {
    width: 550px;
    height: auto;
    background-color: var(--background-color);
}

.swiper-button-next {
    background-color: black;
}

.balo-image {
    width: 550px;
    height: 600px;
    object-fit: cover;
}
