.container {
    width: 1000px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
}

.name {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    margin: 0 14px 14px 14px;
}

.content { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-info { 
    width: 580px;
    margin-left: 14px;
  
}

.description {
    margin: 18px 0;
    font-size: 1.8rem;
}
.separate  {
    width: 1px;
    height: 300px;
    border: 1px solid #ccc;
    margin-bottom: 14px;
}

.order-placement { 
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.quantity-container { 
    width: 200px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 28px;

}

.amount {
    font-size: 1.4rem;
    margin-right: 14px;
}

.count-btn { 
    border: none;
    padding: 8px ;
    cursor: pointer;
}
.input {
    width: 58px;
    height: 100%;
    text-align: center;
}

.cart { 
    display: flex;

}

.cart-btn {
    width: 120px;
    
}

.iframe {
    display: none;
}
