.container {
    width: 539px;
    min-height: 631.29px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.brand-and-product-name {
    font-size: 1.8rem;
    padding: 16px;
    margin: 0 18px;
    border-bottom: 1px solid #ccc;
}
.brand {
    font-weight: 500 ;
}

.brand-link {
    text-decoration: none;
    
}
.product-name {
    margin-top: 8px;

}
.size-price-and-condition {
    border-bottom: 1px solid #ccc;
    padding: 16px;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    margin: 0 18px;

}

.size-and-condition { 
    display: flex;
    align-items: center;
}
.price {
    margin-bottom: 8px;

}
.size {
    width: 42px;
    height: 28px;
    margin-left: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 82px;
    border: 1px solid grey; 
    background-color: red;

}

.size-text {
    color: red;
}
.separate {
    width: 1px;
    height: 18px;
    background-color: black;
    margin: 0 8px;
}

.text-separate {
    margin: 0 4px;
}

.condition { 
    width: 42px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 80%;
    border: 1px solid gray; 
    background-color: orange;
}

.condition-text {
    color: orange;
}
.instock-and-quantity-selection {
    border-bottom: 1px solid #ccc;
    padding: 16px;
    margin: 0 18px;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
}

.quantity-selection { 
    width: 92px;
    height: 28px;
    border-radius: 92px;
    margin-top: 14px;
    display: flex;
    align-items: center;
    background-color: #ccc;
}

.quantity-selection-btn { 
    background-color: transparent;
    border: none;
    padding: 8px 16px;
    cursor: pointer;

    &:hover { 
        color: grey;
    }
}

.action-container {
    height: 98px;
    margin: 0 18px 8px 18px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid #ccc;

}

.keep-shopping-container { 
    margin-top: 32px;
    height: 48px;
    padding: 0 14px;
    
}

.keep-shopping { 
    
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 94px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.keep-shopping-text  {
    text-decoration: none;
    font-size: 2rem;


}



