.container {
    width: 420px;
    min-height: 200px;
}

.order-selection {
}

.order-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.image {
    width: 50%;
    height: 50%;
}

.description {
    margin-right: 160px;
}

.code-discount {
    font-size: 2rem;
    margin-top: 10px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #ccc;
}

.input {
    width: 200px;
    padding: 10px 0;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.use-btn {
    font-size: 1.8rem;
    padding: 8px 40px;
    background-color: #ccc;
    outline: none;
    border: none;
    border-radius: 4px;
}

.delivery {
    border-top: 1px solid #ccc;
    padding: 10px 0;
}

.delivery-table {
    width: 100%;
}

.second-td {
    text-align: end;
}


//ordered items container 
.cart-with-orders{
    width: 100%;

}

.ordered-items {
    transform: translateY(10px);
    margin-left: 14px;
}


.order-items-display {
  
}

.ordered-items-container {
    font-size: 1rem;
    display: flex;
    align-items: center;
    margin: 18px 8px;
    border-top: 1px solid #ccc;
    padding-top: 12px;
}

.item-info-container { 
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.image  { 
    width: 50%;
    margin: 0 10px;
}

.trash-btn {
    border: none;
    background-color: transparent;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px 0;
    color:  red;
    cursor: pointer;

    &:hover {
        color: #ccc;
    }
}

.cart-title-container { 
    border-top: 1px solid #ccc;
    margin: 0 14px;
    display: flex;
    align-items: center;  
    justify-content: end;
    text-decoration: none;
}

.cart-title {
    padding: 8px ;
    color: red;
    text-decoration: none;
}

.sign-in-btn {
    color: red;
}

.quantity-container { 
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input { 
    width: 32px;
    height: 100%;
    text-align: center;
    border: none;
    background-color: transparent;
}

.count-btn {
    background-color: transparent;
    border: none;
    height: 100%;
    padding: 0 10px;  
    cursor: pointer;
}

.icon {
    
    &:hover {
        color: orangered;
    }
}



